<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/companies.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="product-form" action="/<% if (editing) { %>edit-company<% } else { %>add-company<% } %>" method="POST">
            <div class="form-control">
                <label for="name">Company Name</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'name') ? 'invalid' : '' %>"
                    type="text" 
                    name="name" 
                    id="name" 
                    value="<% if (editing || hasError) { %><%= company.name %><% } %>">
            </div>
            <div class="form-control">
                <label for="url">Company URL</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'url') ? 'invalid' : '' %>"
                    type="text" 
                    name="url" 
                    id="url" 
                    value="<% if (editing || hasError) { %><%= company.url %><% } %>">
            </div>
            <div class="form-control">
                <label for="location">Location</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'location') ? 'invalid' : '' %>"
                    type="text" 
                    name="location" 
                    id="location" 
                    step="0.01" 
                    value="<% if (editing || hasError) { %><%= company.location %><% } %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea 
                    class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>"
                    name="description" 
                    id="description" 
                    rows="5"><% if (editing || hasError) { %><%= company.description %><% } %></textarea>
            </div>
            <% if (editing || hasError) { %>
                <input type="hidden" value="<%= company._id %>" name="companyId">
            <% } %>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

            <button class="btn" type="submit"><% if (editing || hasError) { %>Update Company<% } else { %>Add Company<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>