<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <% if (successMessage) { %>
            <div class="user-message user-message--success"><%= successMessage %></div>
        <% } %>
        <form class="login-form" action="/update-resume" method="POST" novalidate enctype="multipart/form-data">
            <div class="form-control">
                <label for="resume">Resume</label>
                <input
                    type="file" 
                    name="resume" 
                    id="resume"
                >
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn" type="submit">Update Resume</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>